<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">我們就是您需要的偉士牌經銷</h2>
                <hr class="light">
                <p class="text-faded">1992年5月2號，一群喜愛偉士牌機車的人發起一個九O俱樂部，原本只是愛車人之間不定期的舉辦聯誼活動，來促進會員之間的感情。之後由經營偉士機車行及三十年修車經驗的會長黃萌旺先生，開始一段傳奇的優雅旅程。</p>
                <a href="#" class="btn btn-default btn-xl">詳細介紹</a>
            </div>
        </div>
    </div>
</section>
