<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include call-to-action1.html %}
  {% include call-to-action2.html %}
  {% include call-to-action3.html %}
  {% include call-to-action4.html %}
  {% include call-to-action5.html %}
  {% include news.html %}
  {% include services.html %}
  {% include catalog.html %}
  {% include aside.html %}
  {% include contact.html %}
  {% include modals.html %}
  {% include scripts.html %}
</body>

</html>